*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", serif;
    font-weight: 700;
}

body{
    background-color: #ffffff;
}

.interface{
    max-width: 1180px;
    margin: auto;
}

.flex{
    display: flex;
}

html {
    scroll-behavior: smooth;
  }

header{
    padding: 40px, 4%;
    background-color: rgb(184, 8, 8);
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

header a{
    color: #e6e4e4;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #ffffff;
    transform: scale(1.05);
}
header a img{
    height: 150px;
}

header nav ul{
    list-style-type: none;
    font-size: 20px;
}
header nav ul li{
    display: inline-block;
    padding: 0% 30px;
}

section.topo-site{
    padding: 40px, 4%;
    margin: 88px;
}

section.topo-site .flex{
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.topo-site h1{
    font-size: 50px;
    line-height: 120px;
    color: rgb(3, 61, 3);
}
.topo-site p{
    font-size: 18px;
    color: rgb(3, 61, 3);
}

.topo-site img{
    height: 400px;
}

section .servicos{
    padding: 40px, 4%;
    margin: 88px;
}
section.servicos .interface h1{
    text-align: center;
    font-size: 38px;
    color: rgb(3, 61, 3);
    line-height: 120px;
}
 section.servicos .flex{
    gap: 30px;
}
.servicos .servico{
    padding: 20px;
    border-radius: 15px;
    transition: .2s;
}

.servicos .servico:hover{
    transform: scale(1.02);
    box-shadow: 0 0 8px rgba(201, 199, 199, 0.281);
}
.servicos .servico i{
    font-size: 70px;
    margin-bottom: 80px;
}

.servicos .servico h3{
    font-size: 22px;
    margin:15px 0;
}
.servicos .servico p{
    font-size: 16px;
    margin: 10px 0;
}